body {
  
  background-size: cover;
  background-position: center center;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  color: white;
  
  
  

}

.Ask{
  text-align:center;
  font-size:40px;
  text-shadow: 0px 0px 20px #000;
  position:relative;
  bottom:40px;
  
}

.form {
  display: none;
  
}

.greetings{
  display:none;
  font-size : 3rem;
  text-align: center;
  text-shadow: 0px 0px 20px #000;
}

.clock{
  font-size:4rem;
  text-align: center;
  position:relative;
  top:80px;
  text-shadow: 0px 0px 20px #000;
  
  
}

.toDoForm{
  font-size:1.5rem;
  border: none; 
  background-color:transparent;
  border-bottom:1.5px solid white;
  color:white;
  position:relative;
  bottom:50px;
  text-shadow: 0px 0px 20px #000;
  
  
}

.place1{
  text-align:center;
  
  
}


.csstoDo{
  text-align:center;
  font-size:2rem;
  position:relative;
  bottom:70px;
  text-shadow: 0px 0px 20px #000;
  
  
  
  
}


.place2{
  text-align:center;
  margin-top:40px;
  
}


.showing {
  display:block;
}

@keyframes fadeIn{
  from{
    opacity: 0;
}
  to {
    opacity: 1;
  }
}


.cssweather{
  text-align: right;
  font-size : 1rem;
  display : block;
  position:relative;
  bottom:30px;
  opacity: 0.8;
    transition: opacity 0.3s ease-in;
  font-style: italic; 
}

.cssweather:hover{
   opacity:1;
}

.weatherIcon{
  width:50px;
  height:50px;  
  position:relative;
  top:20px;
  opacity: 0.8;
    transition: opacity 0.3s ease-in;
}
.weatherIcon:hover{
   opacity:1;
}

.location {
  color:white;
  
    opacity: 0.8;
    transition: opacity 0.3s ease-in;
    font-style: italic;
    font-size: 19px;
    position: absolute;
    bottom: 25px;
    left: 25px;
}
  
  .location:hover {
    opacity: 1;
  }

  
  .todoForm, ::placeholder{
    color:white;
    text-shadow: 0px 0px 20px #000;
  }




ul{
  list-style:none;
  }